<!DOCTYPE html>
<html>

<head>
	<title>Homepage</title>
	
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatibile" content="IE-9">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="stylesheet" href="/webroot/css/style.css" type="text/css" media="screen, projection" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="/webroot/js/lib/jquery.ba-dotimeout.min.js"></script>
	<script type="text/javascript" src="/webroot/js/lib/underscore/underscore-min.js"></script>
	<script type="text/javascript" src="/webroot/js/lib/backbone/backbone-min.js"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<!-- <script type="text/javascript" src="/webroot/js/models/hand.js"></script> -->
	<!-- <script type="text/javascript" src="/webroot/js/views/handview.js"></script> -->
	<script type="text/javascript" src="/webroot/js/milktruck.js"></script> 
	<script type="text/javascript" src="/webroot/js/enemy.js"></script> 
	<script type="text/javascript" src="/webroot/js/brain.js"></script>
	
	<meta http-equiv="content-type" content="text/html; charset=utf-8" /> 
	<!--
	Copyright 2008 Google Inc.
	
	Licensed under the Apache License, Version 2.0 (the "License");
	you may not use this file except in compliance with the License.
	You may obtain a copy of the License at
	
	http://www.apache.org/licenses/LICENSE-2.0
	
	Unless required by applicable law or agreed to in writing, software
	distributed under the License is distributed on an "AS IS" BASIS,
	WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
	See the License for the specific language governing permissions and
	limitations under the License.
	--> 
	<title>Monster Milktruck GRAND PRIX!</title> 
	<link rel=stylesheet href='http://earth-api-samples.googlecode.com/svn/trunk/demos/milktruck/milktruck.css' type='text/css' /> 
	<!-- *** Replace the key below below with your own API key, available at http://code.google.com/apis/maps/signup.html *** --> 
	<!--<script src="http://www.google.com/jsapi?key=ABQIAAAAjM4J6s5FtRwhQxMJ07M6ixR0Hwi6jbIvGaWW2l_JqzQUvfsnYBT90WVIDgIqc59eXkjqMywl2rO3mw"></script> -->
	<script src="http://www.google.com/jsapi?key=ABQIAAAAjM4J6s5FtRwhQxMJ07M6ixRo9r5WyZER6wcW5tNSBgnNxuKu8BQR6Ko_-Ds8woKxlz84wPn6Ys1dOQ"></script>
	<script type="text/javascript" src="http://earth-api-samples.googlecode.com/svn/trunk/lib/math3d.js"></script> 
	<script type="text/javascript" src="http://earth-api-samples.googlecode.com/svn/trunk/lib/keyboard-focus-hack.js"></script> 
	<script type="text/javascript" src="http://earth-api-samples.googlecode.com/svn/trunk/lib/kmldomwalk.js"></script> 
	<script type="text/javascript"> 
	google.load("earth", "1");
	google.load("maps", "2");
	
	var ge = null;
	var geocoder;
	var truck = {};
	var enemy = {};
	var enemy2 = {};
	var enemy3 = {};
	var enemy4 = {};
	
	function el(e) { return document.getElementById(e); }
	
	function Sample(description, url) {
	this.description = description;
	this.url = url;
	return this;
	}
	
	var samples = [];
	
	function init() {
	geocoder = new GClientGeocoder();
	
	init3D();
	}
	
	function initCallback(object) {
	ge = object;
	ge.getWindow().setVisibility(true);
	ge.getLayerRoot().enableLayerById(ge.LAYER_BUILDINGS, true);
	ge.getOptions().setFlyToSpeed(ge.SPEED_TELEPORT);
	
	truck = new Truck();
	enemy = new Enemy();
	enemy2 = new Enemy();
	enemy3 = new Enemy();
	enemy4 = new Enemy();
	
	keyboardFocusHack(ge);
	}
	
	function failureCallback(err) {
	/***
	* This function will be called if plugin fails to load, in case
	* you need to handle that error condition.
	***/
	}
	
	function init3D() {
	google.earth.createInstance("map3d", initCallback, failureCallback);
	}
	
	function submitLocation() {
	doGeocode(el('address').value);
	}
	
	function doGeocode(address) {
	geocoder.getLatLng(address, function(point) {
	  if (point) {
		    if (ge != null && truck != null) {
				truck.teleportTo(point.y, point.x);
		    }
	  }
	});
	}
	
	</script> 
	<script>
	var allUserInfo = {};
	var raceID;
		function load() {			
			var username = document.getElementById('name');
			var button = document.getElementById('submit');
			button.addEventListener('click', function(e) {
				e.preventDefault();
				var data = {
					userID: allUserInfo.userID,
					name: username.value,
					modelURL: "http://sketchup.google.com/3dwarehouse/download?mid=2258ffbe06c20eadb6fa99b092209800&rtyp=s7&fn=mk&ctyp=other&prevstart=0&ts=1299386395000"
				};
                                $('#waitMessage').show();
				
				join(data);
				this.setAttribute('disabled', 'true');
			}, false);
		};
		
		window.addEventListener('load', load, false);
	</script>
</head>

<body>
	<div id="wrap">
	        <h1>Monster Milktruck GRAND PRIX!</h1> 
		<input type="text" placeholder="Enter your name" id="name">
		<button id="submit">Go!</button>
                <div id="waitMessage", style="display:none;font-size:40px;"><p>Please wait for other players</p></div>
	</div>
</body>

</html>
